# Virtual environment
venv/

# Python cache files (you have Python files)
__pycache__/
*.pyc

# Jupyter notebook checkpoints (you have .ipynb files)
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store

.vscode/

*.bin